.App {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

.padding-10 {
  padding: 10px;
}

.line-card {
  background-color: #1c3e95;
  color: #ffffff;
}

.text-left {
  text-align: left;
}

.font-bold {
  font-weight: bolder;
}
